/* ======================================= */
/* 1. FONT IMPORTS AND LOCAL DECLARATION */
/* ======================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

/* --- FCB NUMBERS FONT (replica) --- */
  @font-face {
    font-family: 'FCB-Play';
        src: url('../assets/fonts/fcb-numbers.woff2') format('woff2'), /* 1. Best compatibility and performance */
          url('../assets/fonts/fcb-numbers.woff') format('woff'),  /* 2. Good compatibility */
          url('../assets/fonts/fcb-numbers.otf') format('opentype'); /* 3. Your original file */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    ascent-override: 100%;
  }

/* ---------------------------------------------------- */

/* ======================================= */
/* 2. COLOR PALETTE (HOME KIT - Elegant) */
/* ======================================= */
:root {
    /* -- Base Colors -- */
    --bg-light: #F3F6FA;       /* Main background (Ice white / Very light) */
    --bg-dark: #1A252F;        /* Background for cards / Contrast */
    --text-dark: #1A252F;      /* Primary text */
    --text-light: #F4F6F8;     /* Text for dark backgrounds */
    --bg-fade-color: #E6EEF5;  /* Auxiliar color for the fade*/
    --bg-gradient: linear-gradient(
            90deg,                              
            var(--fcb-navy) 0%,                           
            var(--fcb-garnet) 100%            
        );

    /* -- FCB Colors (Desaturated) -- */
    --fcb-navy: #2e4f70;       /* Night blue (Elegant, replaces the bright blue) */
    --fcb-garnet: #C05D68;     /* Pastel garnet (Sophisticated, leaning pink/terracotta) */

    /* -- Accents / Details -- */
    --fcb-gold: #E3C676;       /* Champagne gold (For numbers, details, borders) */
    --fcb-numbers: #FBC647;
    --accent-ui: var(--fcb-navy); /* We use the main blue as the default UI accent */

    /*KOBE BRYANT AWAY KIT THEME*/
    --bg-light-away: #d4bd99;
    --text-dark-away: #232323;
    --accent-ui: #333BAF;
    --fcb-numbers-away: #181733;

    /*TOTAL 90 THIRD KIT THEME */
    --bg-third: #FF6756;
    --text-dark-third: #40456A;
    --fcb-numbers-third: #2D213C;

    /* -- Typography -- */
    --font-main: 'Montserrat', sans-serif;
    --font-numbers: 'FCB-Play', sans-serif; 
}

/* ======================================= */
/* 3. GENERAL AND BODY STYLES */
/* ======================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /*SIZE, COLORS AND FONTS FOR BODY*/
    height: auto;
    width: 100%;
    background: var(--bg-gradient) no-repeat;
    vertical-align: top;
    color: var(--text-light);
    font-size: 16px;
    font-family: var(--font-main);
    overflow-x: hidden;

    /*FLEX PROPERTIES*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* ======================================= */
/* 4. HEADER AND FOOTER STYLES */
/* ======================================= */

header {
    height: 10vh;
    width: 100%;
    color: var(--fcb-numbers);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
}

header a {
    color: var(--text-light);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease;
}

header li {
    transition: all .3s ease;
}

header a:hover, footer a:hover {
    cursor: pointer;
    color: var(--fcb-numbers);
}

header li:hover, footer a:hover {
    transform: scale(1.1);
}

footer {
    height: 10vh;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: var(--text-light);
    text-decoration: none;
    transition: all .3s ease;
}

/* ======================================= */
/* 5. MAIN CONTAINER STYLES */
/* ======================================= */

main {
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.svg {
    display: flex;
    gap: 20px;
}

.svg svg {
    transition: all .3s ease;
}

.svg svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* ======================================= */
/* 6. PLAYERS CARROUSEL STYLES */
/* ======================================= */


main .carrousel {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.carrousel hr {
    width: 45%;
    height: 2px;
    background: var(--fcb-gold);
    border: none;
}
.carrousel h2 {
    font-size: 2.5rem;
    color: var(--fcb-gold);
}

.goalkeepers, .defenders, .midfielders, .forwards {
    height: auto;
    width: 100%;
    font-size: 2rem;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all .3s ease;
}
.goalkeepers:hover, .defenders:hover, .midfielders:hover, .forwards:hover {
    color: var(--fcb-numbers);
}

.goalkeepersCarrousel, .defendersCarrousel, .midfieldersCarrousel, .forwardsCarrousel {
    height: 430px;
    width: 75%;
    display: flex;
}

.goalkeepersCarrousel img, .defendersCarrousel img, .midfieldersCarrousel img, .forwardsCarrousel img {
    width: 0;
    flex-grow: 1;
    object-fit: contain;
    opacity: .8;
    transition: all .5s ease;
    flex-wrap: wrap;
    mask-image: linear-gradient(to bottom, black 70%, transparent 75%);
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
.goalkeepersCarrousel img:hover, .defendersCarrousel img:hover, .midfieldersCarrousel img:hover, .forwardsCarrousel img:hover {
   flex-grow: 1.5;
   opacity: 1;
}


/* ======================================= */
/* 7. MOBILE RESPONSIVE WITH MEDIA QUERIES */
/* ======================================= */

@media (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    header h1 {
        display: none;
    } 

    header a {
        font-size: .7rem;
    }

    .carrousel h2 {
        font-size: 2rem;
    }

    .carrousel h3 {
        font-size: 1.5rem;
    }

    .goalkeepersCarrousel, .defendersCarrousel, .midfieldersCarrousel, .forwardsCarrousel {
        width: 90%; 
        height: auto; 
        flex-direction: column; 
    }
    
    .goalkeepersCarrousel img, .defendersCarrousel img, .midfieldersCarrousel img, .forwardsCarrousel img {
        width: 100%;
        height: 200px; 
        flex-grow: 0;
        opacity: 1; 
    }

    .goalkeepersCarrousel img:hover, .defendersCarrousel img:hover, .midfieldersCarrousel img:hover, .forwardsCarrousel img:hover {
        flex-grow: 0; 
        opacity: 1; 
    }
}

/* ======================================= */
/* 8. SCROLL ANIMATION */
/* ======================================= */

@keyframes show {
    from {
        opacity: 0;
        scale: 30%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

h2, h3, hr, p {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}